<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="container1 mt-5">
            <button class="button-group left" id="back-btn" style="display: block;">Home</button>
            <h1 class="center" style="display: inline-block;"><i><%= id %></i>'s Group Page</h1>
            <button style="display: inline-block;" id="groupmake-btn" class="button-group right">그룹 생성</button>
        </div>
        <br>

        <div class="container2">
            <label class="left" style="font-size: 20px;"><strong>초대코드 입력</strong></label>
            <div class="center"></div>
            <div class="right">
                <div class="right-content">
                    <input class="input" id="inputCode" type="text" name="code" placeholder="초대코드 입력">
                    <button class="submitTodo" id="codeSubmit">입력</button>
                </div>
            </div>
        </div>

        <h3 class="mt-5">Group Leader로 속해있는 그룹</h3>
        <br>

        <% if(groupleader != 0) { %>
            <% for(var i = 0; i < groupleader.length; i++) { %>
                <div class="feed-box-false">
                    <h3>Group Name: <%= groupleader[i] %></h3>
                    <button class="complete_true"><a href="/main/group/private/?groupname=<%= groupleader[i] %>">Get In</a></button>
                </div>
            <% } %>
        <% } %>

        <br>
        <hr>
        <h4>Group Member로 속해있는 그룹</h4>
        <br>

        <% if(group != 0) { %>
            <% for(var i = 0; i < group.length; i++) { %>
                <div class="feed-box-false">
                    <h3>Group Name: <%= group[i] %></h3>
                    <button class="complete_true"><a href="/main/group/private/?groupname=<%= group[i] %>">Get In</a></button>
                </div>
            <% } %>
        <% } %>
    </div>

    <script>
        $("#back-btn").click(() => {
            window.location.replace("/main?time=today");
        })

        $("#groupmake-btn").click(() => {
            window.location.replace('/main/group/make');
        })

        $("#codeSubmit").click(() => {
            var code = $("#inputCode").val();
            $.ajax({
                method: 'POST',
                data: {code: code},
                url: '/main/group/code'
            }).done(function() {
                alert('그룹에 성공적으로 입장하셨습니다!');
                location.reload();
            }).fail(function(a,b,c) {
                alert('잘못된 코드를 입력하셨습니다. 다시 한 번 시도해주세요!');
                location.reload();
            })
        })
    </script>

    <style>
        a {
            color: #fff; 
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
            color: inherit;
        }
          
        .container1 {
            display: flex;
            justify-content: space-between;
        }

        .container2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
          
        .left {
            order: 1;
        }
          
        .center {
            order: 2;
        }
          
        .right {
            order: 3;
        }
          
        .right-content {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .button-group{
        background-color: #90EE90;
        color: #fff;
        border: none;
        padding: 5px 10px;
        margin-top: 5px;
        border-radius: 3px;
        cursor: pointer;
      }

      .button-group:hover {
        background-color: #BDFCC9;
      }

      .input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 20px;
        width: 80%;
        outline: none;
        flex: 1;
        margin-right: 10px;
        height: 40px;
      }

      .input:focus {
        border-color: #4c9aff;
        box-shadow: 0 0 5px #4c9aff;
      }

      .submitTodo {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        background-color: #ffcc33;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        flex: none;
        height: 40px;
      }

      .submitTodo:hover {
        background-color: #ffdd66;
      }
    </style>

    <script>
        $(".complete_true").click((e) => {
            var data = e.target.data.id;
            $.ajax({
                method: 'GET',
                data: {groupname: data},
                url: `/main/group/private/?groupname=${data}`
            }).done(function() {
                window.location.replace(`/main/group/private/?groupname=${data}`);
            })
        })
    </script>

    <style>
        .feed-box-false {
          width: 100%;
          background-color: #f1f1f1;
          padding: 10px;
          margin-bottom: 10px;
          border-radius: 5px;
          border: 1px solid black;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .feed-box-false h3 {
            order: 1;
            margin-right: auto;
        }
  
        .complete_true {
          background-color: #87CEFA;
          color: #fff;
          border: none;
          padding: 5px 10px;
          height: auto;
          border-radius: 3px;
          cursor: pointer;
          order: 2;
        }
  
        .complete_true:hover {
          background-color: #B0E2FF;
        }
      </style>
</body>
</html>