<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <button class="back-btn">Go Back</button>

        <div>
            <h1 style="display: inline-block;"><%= group.groupname %> Page</h1>
            <button id="reallyDelete">그룹 삭제</button>

            <div class="popup">
                <h3>정말로 그룹을 삭제하시겠습니까?</h3>
                <button id="deleteGroup">Yes</button>
                <button id="noDelete" data-member="<%= group.groupmember %>" data-id="<%= group.groupname %>">No</button>
            </div>

            <br>
            <h2>Group Name: <%= group.groupname %></h2>
            <p>Group Info: <%= group.groupinfo %></p>
            <h4>Group Leader: <%= group.groupleader %></h4>
            <p>Group Code: <%= group.groupcode %></p>
            <button><a href="/main/group/sprint/?groupname=<%= group.groupname %>">스프린트</a></button>

            <% for(var i = 0; i < group.groupmember.length; i++) { %>
                <div>
                    <h4>Name: <%= group.groupmember[i] %></h4>
                    <button id="deleteMember" data-id="<%= group.groupmember[i] %>">추방</button>
                </div>
            <% } %>
        </div>
    </div>

    <style>
        .back-btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            background-color: #ff4d4d;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
          }
        
          .back-btn:hover {
            background-color: #ff6666;
          }
    </style>

    <script>
        $(".back-btn").click(() => {
            window.location.replace('/main/group/?user=<%= id %>');
        })
    </script>

    <style>
        .popup {
            display: none;
        }
    </style>

    <script>
        $('#reallyDelete').click(() => {
            $(".popup").css('display', "block");
        })

        $("#noDelete").click(() => {
            $(".popup").css('display', "none");
        })

        $("#deleteGroup").click((e) => {
            var member = e.target.dataset.member;
            $.ajax({
                method: 'DELETE',
                url:'/group/delete/?groupname=<%= group.groupname %>',
                data: {member: member}
            }).done(function() {
                alert('그룹을 성공적으로 삭제하였습니다!');
                window.location.replace('/main/group/?user=<%= id %>');
            }).fail(function() {
                alert('당신은 리더가 아니기 때문에 그룹을 삭제할 수 없습니다!');
                location.reload();
            })
        })

        $('#deleteMember').click((e) => {
            var member = e.target.dataset.id;
            $.ajax({
                method: 'PUT',
                url: '/groupmember/put/?groupname=<%= group.groupname %>',
                data: {member: member}
            }).done(function() {
                alert('해당 멤버를 추방합니다!');
                location.reload();
            }).fail(function(a,b,c) {
                alert('당신은 리더가 아니기 때문에 추방할 수 없습니다!');
                location.reload();
            })
        })
    </script>
</body>
</html>